In [4]:
import pandas as pd
import numpy as np
import os
import re

In [39]:

folder = r"C:\Users\jean-\Desktop\Cours ENSAE\3A ENSAE\ML for trading\Projet\ML-for-trading-project\Données projet\yield curve history Germany"

# List all files in the folder
files = os.listdir(folder)

def extract_year(filename):
    match = re.search(r'R(\d{2})XX', filename)
    return match.group(1) if match else None

# Create the dictionary of DataFrames with desired names
yields_germany = {
    f"yields Germany {extract_year(file)} years": pd.read_csv(os.path.join(folder, file),index_col =0)
    for file in files if extract_year(file) is not None
}

list_years = [extract_year(file) for file in files if extract_year(file) is not None]

# Example: access a DataFrame
yields_germany["yields Germany 02 years"]

,BBSIS.D.I.ZST.ZI.EUR.S1311.B.A604.R02XX.R.A.A._Z._Z.A,BBSIS.D.I.ZST.ZI.EUR.S1311.B.A604.R02XX.R.A.A._Z._Z.A_FLAGS
NaN,NaN,NaN
Comment,Monatsendstandsreihe: WZ9810. Bis Juli 1997 li...,NaN
Decimals,2,NaN
Time format code,P1D,NaN
category,ZRZS,NaN
...,...,...
2025-10-09,1.99,NaN
2025-10-10,1.98,NaN
2025-10-11,.,No value available
2025-10-12,.,No value available
2025-10-13,1.94,NaN

In [41]:

start_date = '2000-01-01'
end_date = '2025-10-13'

business_days = pd.date_range(start=start_date, end=end_date, freq='B').strftime('%Y-%m-%d').tolist()

for year in list_years:
    df= yields_germany[f"yields Germany {year} years"]    
    df_filtered = df[df.index.isin(business_days)][f"BBSIS.D.I.ZST.ZI.EUR.S1311.B.A604.R{year}XX.R.A.A._Z._Z.A"]
    yields_germany[f"yields Germany {year} years"] = df_filtered

In [43]:
yields_germany["yields Germany 02 years"]

2000-01-03    4.31
2000-01-04    4.39
2000-01-05    4.39
2000-01-06    4.38
2000-01-07    4.34
              ...
2025-10-07    2.00
2025-10-08    1.99
2025-10-09    1.99
2025-10-10    1.98
2025-10-13    1.94
Name: BBSIS.D.I.ZST.ZI.EUR.S1311.B.A604.R02XX.R.A.A._Z._Z.A, Length: 6726, dtype: object