In [37]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("Données projet/data US/XAU_USD Historical Data.csv") 
df2 = pd.read_csv("Données projet/data US/XAU_USD Historical Data-2.csv")

In [26]:
df.Date = pd.to_datetime(df.Date)

In [ ]:
df = df.set_index("Date")

In [32]:
df

               Price      Open      High       Low  Vol. Change %
Date
2019-03-15  1,301.38  1,295.74  1,306.58  1,293.66   NaN    0.39%
2019-03-14  1,296.28  1,309.61  1,310.46  1,292.75   NaN   -0.99%
2019-03-13  1,309.28  1,302.01  1,311.33  1,300.56   NaN    0.56%
2019-03-12  1,302.01  1,293.71  1,302.19  1,292.06   NaN    0.60%
2019-03-11  1,294.25  1,298.70  1,299.27  1,290.15   NaN   -0.32%
...              ...       ...       ...       ...   ...      ...
2000-01-07    281.75    281.15    281.75    281.75   NaN    0.18%
2000-01-06    281.23    280.12    281.23    281.23   NaN    0.08%
2000-01-05    281.00    281.50    281.00    281.00   NaN   -0.51%
2000-01-04    282.45    288.75    282.45    282.45   NaN   -2.27%
2000-01-03    289.00    288.50    289.00    289.00   NaN    0.26%

[5000 rows x 6 columns]

In [38]:
df.astype(np.float64)

ValueError: could not convert string to float: '1,301.38'